#signInForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  padding: 20px 20px 25px 20px;
}

#signInForm .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

#signInForm .mat-dialog-actions {
  display: flex;
  flex-direction: column;
}

#signInForm small {
  color: blue;
  cursor: pointer;
}
// #signInForm .form-group input {
//   width: 100%;
//   padding: 0 5px;
// }
