#note {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 200px;
  word-wrap: break-word;
  margin: 15px;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}

#note .note-buttons-container {
  width: 100%;
  position: relative;
  height: 25px;
}

#note .note-buttons-container .activate-colors {
  position: absolute;
  top: 2px;
  left: 4px;
}
#note h3,
p {
  outline: none;
}

#note h3 {
  font-weight: 600;
  font-size: 0.9rem;
}

#note .delete-button {
  position: absolute;
  bottom: -8px;
  right: -8px;
  transform: scale(0.45);
}

#note .colors-button {
  position: absolute;
  bottom: -8px;
  left: -8px;
  transform: scale(0.45);
}

#note .material-icons .open {
  color: black;
  background-color: black;
}

#note .delete-note {
}

#note .note-text-container {
  padding: 0 10px 7px 10px;
}

#note .note-text-container h3 {
  text-align: center;
}

#note .note-buttons-container .note-color-button {
  content: "";
  width: 5px;
  height: 5px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  border: 0.5px solid rgba(0, 0, 0, 0.131);
  margin: 0 1px;
}

#note .note-buttons-container .note-colors-container {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 5px;
}
.yellowContainer {
  background-color: #fef3a1;
}

#note .yellowButtonContainer {
  background-color: #fde84f;
}

.blueContainer {
  background-color: #aff4fe;
}

#note .blueButtonContainer {
  background-color: #8df0fe;
}

.greenContainer {
  background-color: #b4fda5;
}

#note .greenButtonContainer {
  background-color: #87fc89;
}
.pinkContainer {
  background-color: #fec7c8;
}

#note .pinkButtonContainer {
  background-color: #fdb2b3;
}

.violetContainer {
  background-color: #b7cbfd;
}

#note .violetButtonContainer {
  background-color: #9cb7fc;
}

.greyContainer {
  background-color: #eeeeee;
}

#note .greyButtonContainer {
  background-color: #dadada;
}

#note .last-edited {
  position: absolute;
  left: 38px;
  bottom: 0;
  font-size: 0.5rem;
  color: rgba(128, 128, 128, 0.461);
}
