<article
  id="note"
  cdkDrag
  [cdkDragDisabled]="isDisabled"
  [ngClass]="noteColor"
  [@bounceOutRight]="bounceOutRight"
>
  <div [ngClass]="['note-buttons-container', buttonContainerColor]">
    <button mat-mini-fab class="colors-button" (click)="switchState()">
      <span
        class="material-icons"
        [ngClass]="{
          open: state === 'open',
          '': state === 'closed'
        }"
        >{{ state === "open" ? "check_circle_outline" : "palette" }}</span
      >
    </button>
    <div class="note-colors-container" [@divState]="state">
      <span
        *ngFor="let color of noteColors"
        [ngStyle]="{ 'background-color': color.backgroundColor }"
        (click)="updateColor(color.color)"
        class="note-color-button"
      ></span>
    </div>
    <button
      mat-mini-fab
      class="delete-button"
      color="accent"
      (click)="removeNote(note.id)"
    >
      <span class="material-icons"> delete </span>
    </button>
  </div>
  <div class="note-text-container">
    <h3
      contenteditable="true"
      (mousedown)="$event.stopPropagation()"
      readonly="readonly"
      #title
    >
      {{ note.title }}
    </h3>
    <p
      contenteditable="true"
      (mousedown)="$event.stopPropagation()"
      readonly="readonly"
      #content
    >
      {{ note.content }}
    </p>
  </div>
  <span class="last-edited">last edited: {{ getLocalTime() }}</span>
  <span class="lock-drag" (click)="toggleDraggable()"
    ><mat-icon>{{ isDisabled ? "lock" : "lock_open" }}</mat-icon></span
  >
</article>
